<html>
{% extends 'base.html' %}    
  
    {% block head %}
    <title>Flask Intro - login page</title>

    {% endblock %}

    {% block body %}
    <div class="container">
      <h1>Please create a new login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="First Name" name="name_First" value="{{
        request.form.name_First }}">
        <input type="text" placeholder="Last Name" name="name_Last" value="{{
        request.form.name_Last }}">
        <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}">
        <input type="confirmPassword" placeholder="Confirm Password" name="confirmPassword" value="{{
        request.form.confirmPassword }}">
        <input class="btn btn-create" type="submit" value="Create Account" name = "createBut">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    {% endblock %}
</html>