.23_46 { 
	overflow:hidden;
}.e23_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e23_47 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:550px;
	height:1024px;
	position:absolute;
	left:1px;
	top:0px;
}.e23_48 { 
	background-color:rgba(174.8250013589859, 200.81250607967377, 174.03750121593475, 1);
	width:889px;
	height:1024px;
	position:absolute;
	left:551px;
	top:0px;
}.e23_49 { 
	background-color:rgba(171.0779920220375, 149.84348505735397, 192.31249898672104, 1);
	width:190.4401092529297px;
	height:209.588134765625px;
	position:absolute;
	left:140px;
	top:402px;
}.e23_50 { 
	transform: rotate(-90.36148277155633deg);
	width:209.86935424804688px;
	height:0px;
	position:absolute;
	left:230.9322509765625px;
	top:508.86517333984375px;
}.23_50 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e23_51 { 
	transform: rotate(2.981770013872047e-16deg);
	width:210px;
	height:0px;
	position:absolute;
	left:231px;
	top:509px;
}.23_51 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e23_52 { 
	transform: rotate(120.00000340285067deg);
	width:209.86935424804688px;
	height:0px;
	position:absolute;
	left:230.9346923828125px;
	top:508.86517333984375px;
}.23_52 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e23_53 { 
	color:rgba(0, 0, 0, 1);
	width:23px;
	height:42px;
	position:absolute;
	left:455px;
	top:474px;
	font-family:Lucida Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e23_54 { 
	color:rgba(0, 0, 0, 1);
	width:19px;
	height:42px;
	position:absolute;
	left:117px;
	top:691px;
	font-family:Lucida Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e23_55 { 
	color:rgba(0, 0, 0, 1);
	width:21px;
	height:42px;
	position:absolute;
	left:220px;
	top:246px;
	font-family:Lucida Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e23_56 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:725px;
	height:455px;
	position:absolute;
	left:633px;
	top:117px;
	border-radius:30px;
}.e23_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:693px;
	height:420px;
	position:absolute;
	left:649px;
	top:135px;
	border-radius:30px;
}.e25_15 { 
	width:725px;
	height:338px;
	position:absolute;
	left:633px;
	top:639px;
}.e25_3 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:338px;
	height:91.9285888671875px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:30px;
}.e25_4 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:338px;
	height:91.9285888671875px;
	position:absolute;
	left:387px;
	top:-2.2737367544323206e-13px;
	border-radius:30px;
}.e25_5 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:338px;
	height:91.9285888671875px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:122.571533203125px;
	border-radius:30px;
}.e25_6 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:338px;
	height:91.9285888671875px;
	position:absolute;
	left:387px;
	top:122.571533203125px;
	border-radius:30px;
}.e25_7 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:338px;
	height:91.9285888671875px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:246.0714569091797px;
	border-radius:30px;
}.e25_8 { 
	background-color:rgba(196.77206128835678, 222.06250101327896, 184.12682622671127, 1);
	width:338px;
	height:91.9285888671875px;
	position:absolute;
	left:387px;
	top:246.0714569091797px;
	border-radius:30px;
}.e25_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:79.85716247558594px;
	position:absolute;
	left:7px;
	top:6.500359535217285px;
	border-radius:30px;
}.e25_14 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:79.85716247558594px;
	position:absolute;
	left:394px;
	top:252.5718231201172px;
	border-radius:30px;
}.e25_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:79.85716247558594px;
	position:absolute;
	left:7px;
	top:252.5718231201172px;
	border-radius:30px;
}.e25_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:79.85716247558594px;
	position:absolute;
	left:7px;
	top:129.07122802734375px;
	border-radius:30px;
}.e25_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:79.85716247558594px;
	position:absolute;
	left:394px;
	top:129.07122802734375px;
	border-radius:30px;
}.e25_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:79.85716247558594px;
	position:absolute;
	left:394px;
	top:6.500359535217285px;
	border-radius:30px;
}.e43_2 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:540px;
	top:22px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e43_4 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:540px;
	top:145px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e23_58 { 
	color:rgba(255, 255, 255, 1);
	width:471px;
	height:114px;
	position:absolute;
	left:757px;
	top:21px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.25_16 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e25_16 { 
	width:608px;
	height:0px;
	position:absolute;
	left:697px;
	top:510px;
}.e25_23 { 
	transform: rotate(-90.00000250447808deg);
	width:339px;
	height:0px;
	position:absolute;
	left:697px;
	top:511px;
}.25_23 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e25_18 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:32px;
	position:absolute;
	left:1197px;
	top:519px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e25_24 { 
	transform: rotate(90.00000250447808deg);
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:31.999988555908203px;
	position:absolute;
	left:684px;
	top:149px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.25_25 { 
	border:2px solid rgba(73.49179565906525, 48.17109435796738, 98.81249696016312, 1);
}.e25_25 { 
	width:592px;
	height:252px;
	position:absolute;
	left:697px;
	top:234px;
}.e25_26 { 
	background-color:rgba(171.0779920220375, 149.84348505735397, 192.31249898672104, 0.4399999976158142);
	width:592px;
	height:276px;
	position:absolute;
	left:697px;
	top:234px;
}.25_26 { 
	border:2px solid rgba(73.49179565906525, 48.17109435796738, 98.81249696016312, 1);
}.e25_30 { 
	width:22.399999618530273px;
	height:48px;
	position:absolute;
	left:715px;
	top:491px;
}.e25_27 { 
	background-color:rgba(54.21955280005932, 112.62499898672104, 53.027606159448624, 1);
	width:19.200000762939453px;
	height:35.20000076293945px;
	position:absolute;
	left:1.600000023841858px;
	top:12.800000190734863px;
	border-radius:10px;
}.e25_29 { 
	background-color:rgba(54.21955280005932, 112.62499898672104, 53.027606159448624, 1);
	width:22.399999618530273px;
	height:27.200000762939453px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:1px;
}.e25_31 { 
	color:rgba(255, 255, 255, 1);
	width:627px;
	height:28px;
	position:absolute;
	left:682px;
	top:583px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e25_32 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:652px;
	top:663px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e44_2 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:788px;
	top:661px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e44_4 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:788px;
	top:911px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e44_5 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:1173px;
	top:911px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e44_3 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:47px;
	position:absolute;
	left:788px;
	top:783px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e25_33 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:40px;
	position:absolute;
	left:649px;
	top:783px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e25_34 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:42px;
	position:absolute;
	left:652px;
	top:911px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e25_35 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:40px;
	position:absolute;
	left:1020px;
	top:663px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e25_36 { 
	color:rgba(0, 0, 0, 1);
	width:123px;
	height:49px;
	position:absolute;
	left:1028px;
	top:783px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e25_37 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:46px;
	position:absolute;
	left:1025px;
	top:908px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}