.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e5_39 { 
	width:1656px;
	height:1154px;
	position:absolute;
	left:-41px;
	top:-55px;
}.e3_4 { 
	background-color:rgba(91.00000217556953, 140.00000685453415, 90.00000223517418, 0.30000001192092896);
	width:610px;
	height:626.9354248046875px;
	position:absolute;
	left:19px;
	top:5.5px;
}.3_5 { 
	border:4px solid rgba(234.00000125169754, 240.00000089406967, 206.0000029206276, 1);
}.e3_5 { 
	width:654.8978881835938px;
	height:679.5px;
	position:absolute;
	left:13px;
	top:9px;
}.e5_37 { 
	background-color:rgba(91.00000217556953, 140.00000685453415, 90.00000223517418, 0.30000001192092896);
	width:667.8749389648438px;
	height:603.0438842773438px;
	position:absolute;
	left:868.1250610351562px;
	top:0px;
}.5_38 { 
	border:4px solid rgba(234.00000125169754, 240.00000089406967, 206.0000029206276, 1);
}.e5_38 { 
	width:692px;
	height:511.35711669921875px;
	position:absolute;
	left:844px;
	top:22px;
}.e5_33 { 
	background-color:rgba(91.00000217556953, 140.00000685453415, 90.00000223517418, 0.30000001192092896);
	width:1428.66943359375px;
	height:492px;
	position:absolute;
	left:227.33056640625px;
	top:662px;
}.5_34 { 
	border:4px solid rgba(234.00000125169754, 240.00000089406967, 206.0000029206276, 1);
}.e5_34 { 
	width:1492px;
	height:451.1487731933594px;
	position:absolute;
	left:0px;
	top:654.8511962890625px;
}.e2_3 { 
	background-image:linear-gradient(0deg, rgba(55.00000052154064, 37.00000159442425, 73.00000324845314, 1) 0%,rgba(108.9062449336052, 87.12499290704727, 130.68749696016312, 1) 100%) ;
	width:972px;
	height:321px;
	position:absolute;
	left:234px;
	top:46px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}.e1_3 { 
	color:rgba(255, 255, 255, 1);
	width:1090px;
	height:91px;
	position:absolute;
	left:175px;
	top:90px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}.e2_2 { 
	color:rgba(255, 255, 255, 1);
	width:535px;
	height:103px;
	position:absolute;
	left:452px;
	top:223px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e3_16 { 
	width:446px;
	height:372px;
	position:absolute;
	left:497px;
	top:512px;
}.e3_9 { 
	background-image:linear-gradient(0deg, rgba(62.953129559755325, 41.96875177323818, 83.93750354647636, 1) 0%,rgba(116.8617108464241, 99.84843537211418, 133.87499392032623, 1) 100%) ;
	width:446px;
	height:372px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e3_8 { 
	color:rgba(255, 255, 255, 1);
	width:189px;
	height:63px;
	position:absolute;
	left:129px;
	top:17px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e3_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:380px;
	height:56px;
	position:absolute;
	left:33px;
	top:111px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e3_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:380px;
	height:56px;
	position:absolute;
	left:32px;
	top:198px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e3_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:380px;
	height:56px;
	position:absolute;
	left:32px;
	top:285px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e3_13 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:26px;
	position:absolute;
	left:25px;
	top:90px;
	font-family:Nixie One;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e3_14 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:26px;
	position:absolute;
	left:25px;
	top:177px;
	font-family:Nixie One;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e3_15 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:26px;
	position:absolute;
	left:42px;
	top:265px;
	font-family:Nixie One;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e14_15 { 
	width:296px;
	height:54px;
	position:absolute;
	left:578px;
	top:926px;
}.e5_41 { 
	background-image:linear-gradient(0deg, rgba(55.00000052154064, 37.00000159442425, 73.00000324845314, 1) 0%,rgba(116.8617108464241, 99.84843537211418, 133.87499392032623, 1) 100%) ;
	width:296px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e5_42 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:41px;
	position:absolute;
	left:88px;
	top:6px;
	font-family:Nixie One;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}