body, html {
    margin: 10;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}



.entry {
    background-color: tomato;
    color: white;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 180px;
}

#entry {
    
    padding-top: 70%;
    padding-right: 70%;
    padding-bottom: 70%;
    padding-left: 70%;
}



#content {
    width: 70%;
}

