.43_5 { 
	overflow:hidden;
}.e43_5 { 
	background-color:rgba(73.35960075259209, 70.22239789366722, 109.43750202655792, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}.e43_6 { 
	background-color:rgba(216.51093810796738, 219.39774960279465, 222.06250101327896, 1);
	width:582px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_25 { 
	color:rgba(255, 255, 255, 1);
	width:549px;
	height:127px;
	position:absolute;
	left:660px;
	top:109px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e43_26 { 
	width:642px;
	height:233px;
	position:absolute;
	left:686px;
	top:204px;
}.e43_27 { 
	width:642px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_28 { 
	background-color:rgba(120.92366248369217, 119.77031797170639, 177.43749797344208, 1);
	width:642px;
	height:233px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e43_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:567px;
	height:148.34579467773438px;
	position:absolute;
	left:37px;
	top:42px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e43_30 { 
	color:rgba(50.79785920679569, 98.81249696016312, 49.81796778738499, 1);
	width:527px;
	height:169px;
	position:absolute;
	left:57px;
	top:64px;
	font-family:Digital Numbers;
	text-align:center;
	font-size:72px;
	letter-spacing:0;
}.e43_31 { 
	width:354px;
	height:152.18222045898438px;
	position:absolute;
	left:830px;
	top:900px;
}.e43_32 { 
	background-color:rgba(115.64728081226349, 114.7765651345253, 158.31250101327896, 1);
	width:354px;
	height:78.67756652832031px;
	position:absolute;
	left:0px;
	top:0px;
}.e43_33 { 
	color:rgba(255, 255, 255, 1);
	width:328.6135559082031px;
	height:129.50466918945312px;
	position:absolute;
	left:12.693359375px;
	top:22.67755126953125px;
	font-family:Ropa Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e43_34 { 
	width:355px;
	height:95px;
	position:absolute;
	left:829px;
	top:464px;
}.e43_35 { 
	background-color:rgba(149.533588886261, 126.9421899318695, 172.12500303983688, 1);
	width:355px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e43_36 { 
	color:rgba(255, 255, 255, 1);
	width:327px;
	height:68px;
	position:absolute;
	left:13px;
	top:23px;
	font-family:Ropa Sans;
	text-align:center;
	font-size:55px;
	letter-spacing:0;
}.e43_37 { 
	color:rgba(116.8617108464241, 99.84843537211418, 133.87499392032623, 1);
	width:282px;
	height:151px;
	position:absolute;
	left:26px;
	top:887px;
	font-family:Epilogue;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}.e43_38 { 
	transform: rotate(-49.11640787837913deg);
	width:76.15773010253906px;
	height:0px;
	position:absolute;
	left:150px;
	top:871.578369140625px;
	border-radius:20px;
}.43_38 { 
	border:3px solid rgba(116.8617108464241, 99.84843537211418, 133.87499392032623, 1);
}.e50_30 { 
	width:98px;
	height:68px;
	position:absolute;
	left:378px;
	top:881px;
}.e50_31 { 
	background-color:rgba(171.0779920220375, 149.84348505735397, 192.31249898672104, 1);
	width:98px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
}.e50_32 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:28px;
	position:absolute;
	left:31px;
	top:15px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e50_29 { 
	width:76.99999237060547px;
	height:78px;
	position:absolute;
	left:214px;
	top:729px;
}.ei50_29_23_113 { 
	background-color:rgba(54.21955280005932, 112.62499898672104, 53.027606159448624, 1);
	width:76.99999237060547px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}.ei50_29_23_114 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:28px;
	position:absolute;
	left:17px;
	top:21px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e50_42 { 
	width:106px;
	height:58px;
	position:absolute;
	left:340px;
	top:559px;
}.e50_43 { 
	background-color:rgba(73.49179565906525, 48.17109435796738, 98.81249696016312, 1);
	width:106px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}.e50_44 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:28px;
	position:absolute;
	left:36px;
	top:12px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e50_36 { 
	width:102.04061126708984px;
	height:106.9469223022461px;
	position:absolute;
	left:202px;
	top:403px;
}.e50_37 { 
	transform: rotate(-19.299899403187222deg);
	background-color:rgba(91.00000217556953, 140.00000685453415, 90.00000223517418, 1);
	width:78px;
	height:86px;
	position:absolute;
	left:0px;
	top:25.779993057250977px;
}.e50_38 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:28px;
	position:absolute;
	left:34px;
	top:34.999996185302734px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e50_39 { 
	width:80px;
	height:87px;
	position:absolute;
	left:183px;
	top:204px;
}.e50_40 { 
	background-color:rgba(116.8617108464241, 99.84843537211418, 133.87499392032623, 1);
	width:80px;
	height:87px;
	position:absolute;
	left:0px;
	top:0px;
}.e50_41 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:28px;
	position:absolute;
	left:18px;
	top:33px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e50_33 { 
	width:93.62382507324219px;
	height:94.60205078125px;
	position:absolute;
	left:348px;
	top:81px;
}.e50_34 { 
	transform: rotate(-98.02947521921132deg);
	background-color:rgba(83.5169269144535, 62.90885433554649, 104.12499949336052, 1);
	width:83.86979675292969px;
	height:82.71963500976562px;
	position:absolute;
	left:11.715144157409668px;
	top:94.60205078125px;
}.e50_35 { 
	color:rgba(255, 255, 255, 1);
	width:37px;
	height:28px;
	position:absolute;
	left:29.000057220458984px;
	top:35.000003814697266px;
	font-family:Roboto Slab;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}